.App {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #282c34;
  margin: 0px;
  color: white;
}

.monsterContainer {
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.stat-block {
  max-width: 60%;
  margin: auto;
  background-color: #FDF1DC;
  border: 5px solid rgb(161, 92, 92);
  text-align: left;
  color: #922610;
  padding: 3%;
}

.block-stats {
  display: flex;
  justify-content: center;
  gap: 2%;
}

hr {
  border: 1px solid #922610;
  
}
